@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}
/* this is used to check whether the user have dark mode enable or not */
/* @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
  }
  body{
    background-color: black;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}
